.modalOverlay {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modalContent {
	background-color: white;
	padding: 20px;
	border-radius: 8px;
	max-width: 500px;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
	position: relative;
}

.playerInfo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-column: 1 / -1;
	h2 {
		margin: 0;
	}
	p {
		margin: 0;
	}
}

.rank {
	font-size: 20px;
	font-weight: bold;
	color: var(--primary-color);
}

.descriptionContainer {
	grid-column: 1 / -1;
	h3 {
		margin-top: 0;
		margin-bottom: 10px;
	}
}

.description {
	white-space: pre-wrap;
	min-height: 100px;
	max-height: 300px;
	overflow-y: auto;
}

.cursor {
	display: inline-block;
	width: 0;
	color: var(--primary-color);
	animation: cursor-blink 1s step-end infinite;
}

@keyframes cursor-blink {
	0%,
	100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.statsContainer {
	grid-column: 1 / -1;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}

.statItem {
	display: flex;
	justify-content: space-between;
	gap: 20px;
	align-items: center;
	border-bottom: 1px solid var(--border-color);
	padding: 5px 0;
}

.editInput {
	font-size: 24px;
	font-weight: 600;
}

.statLabel {
	font-weight: normal;
}

.statValue {
	background-color: var(--background-color);
	padding: 5px 10px;
	border-radius: 4px;
	font-weight: bold;
}

.statValueInput {
	font-size: 16px;
	border: 1px solid var(--border-color);
	padding: 5px 10px;
	border-radius: 4px;
	width: max-content;
	font-weight: bold;
	width: 50%;
}

.closeButton {
	grid-column: 0 / -1;
	background-color: gray;
}

.editTextarea {
	font-family: Arial, sans-serif;
	font-size: 16px;
	border: 1px solid var(--border-color);
	width: 100%;
	height: 100px;
	min-width: 100%;
	max-width: 100%;
	max-height: 100%;
	border: 0p;
	border-radius: 4px;
	padding: 5px;
}

.buttonContainer {
	grid-column: 1 / -1;
	display: flex;
	width: 100%;
	justify-content: space-between;
}
